/* src/style.css */
:root {
	--accentColor: #256eff;
	--hoverColor: #37559118;
	--activeColor: #256eff44;
	--barColor: #f7f7f7;
	--bgColor: #dbe6ee;
	--contrastColor: #0c1618;
	--borderColor: #0c161834;
	--highlightColor: #f7b32b;
	--frostedColor: #00000022;
	--frostedBorderColor: #ffffff22;
}

body {
	margin: 0;
	font-family: arial;
	background-color: var(--bgColor);
	color: var(--contrastColor);
	/* Add transition for dark mode */
	transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode styles */
body.dark-mode {
	--accentColor: #f7b32b;
	--hoverColor: #37559118;
	--activeColor: #f7b32b77;
	--barColor: #0c1618;
	--bgColor: #000000;
	--contrastColor: #f7f7f7;
	--borderColor: #f7f7f755;
	--highlightColor: #256eff;
	--frostedColor: #ffffff22;
	--frostedBorderColor: #ffffff22;
}

/* Dark mode filters for canvas/thumbs (globally) */
body.dark-mode canvas,
body.dark-mode .page-thumb {
	filter: invert(0.9) hue-rotate(180deg) contrast(0.95);
	transition: filter 0.3s ease;
}
